.dotsContainer {
  background-color: white;
  display: flex;
  height: 380px;
  width: 380px;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  border-radius: 380px;
  cursor: grab;
}

.dragging {
  cursor: grabbing;
}
